
/* Theme rules */
.site-container {
    /* Make the light theme the default */
    --c-text: var(--c-light-text);
    --c-background: var(--c-light-background);
    --c-background-alt: var(--c-light-background-alt);
    --c-focus: var(--c-light-focus);
    --c-interactive: var(--c-light-interactive);

    color: var(--c-text);
    background-color: var(--c-background);
}

.dark-mode-checkbox:checked ~ .site-container {
    /* Override the default theme */
    --c-text: var(--c-dark-text);
    --c-background: var(--c-dark-background);
    --c-background-alt: var(--c-dark-background-alt);
    --c-focus: var(--c-dark-focus);
    --c-interactive: var(--c-dark-interactive);
}

.dark-mode-checkbox {
    /* Hide the theme control */
    display: none;
}

a, .navbar-item {
    color: var(--c-interactive);
}

.navbar, .navbar-menu {
    background-color: var(--c-background);
}

a.is-active, a:focus, a:focus-within, a:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    color: var(--c-focus);
    background-color: var(--c-background);
}

.tag:not(body).is-link.is-light, .tag:not(body).is-link.is-light > a, .button.is-info.is-light {
    color: var(--c-interactive);
    background-color: var(--c-background-alt);
}

.tag:not(body).is-link.is-light:hover, .tag:not(body).is-link.is-light:hover > a, .button.is-info.is-light:hover {
    color: var(--c-background);
    background-color: var(--c-focus);
}

strong, .content table thead th,
h1, h2, h3, h4, h5, h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: var(--c-text);
    margin-top: 0;
}

pre {
    color: #f8f8f2;
    background-color: #272822;
}

blockquote, .content blockquote, code {
    color: var(--c-text);
    background-color: var(--c-background-alt);
}

/* Layout rules */
body, html {
    min-height: 100vh;
}

.section {
    padding: 0 1.5rem;
}

section.site-container {
    flex: 1;
    padding-bottom: 5rem;
    min-height: 100vh;
}

.column.site-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-image > img {
    border-radius: 50%;
}

.sidebar-image-credit {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.sidebar-text > .socials {
    margin: 1rem;
}

.sidebar-text > .socials > a > .fab {
    font-size: 2.5rem;
    margin: 0.5rem;
}

.navbar {
    padding: 1rem;
}

.homepage-posts-list {
    margin-top: 5rem;
}

.post {
    margin-bottom: 3rem;
}

.meta.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
}

.meta.content > * {
    margin-bottom: 0;
}

.meta.content > h1, .meta.content > h4 {
    flex-grow: 1;
}

.meta.content > em {
    font-size: 0.85rem;
}

.button {
    margin: 0.5rem;
}
